.page-content {
  max-width: 600px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}
p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.year-decorator {
  margin: 0px 6px 0px 0px;
  color: grey;
}
.div-container {
  width: 100%;
}
.div-left {
  float: left;
  width: 50%;
}
.div-right {
  float: right;
  width: 50%;
}
.div-center {
  float: center;
  width: 100%;
}
.span-spacing {
  font-size: .8rem;
  margin: 0px 6px 0px 0px;
}
.span-content {
  font-size: .8rem;
}
.p-left {
  text-align: left;
}
